.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    flex: 1 1 calc(20% - 20px); /* Чотири картки в рядку */
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.movie-card a {
    text-decoration: none;
    color: inherit;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}