.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly;
    color: var(--font-color);
}

.genre-card {
    flex: 1 1 calc(20% - 20px); /* П'ять карток в рядку, за винятком відступів */
    box-sizing: border-box;
    background-color: var(--header-background);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Прибираємо підкреслення тексту */
    color: var(--font-color); /* Колір тексту */
}

.genre-card span {
    font-weight: bold;
}

.genre-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.genre-card:hover span {
    color: var(--color-accent);
}