html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

body {
    background: var(--color-secondary);
    color: var(--font-color);
    transition: background 0.3s, color 0.3s;
}